In [15]:
import pandas as pd
import numpy as np

### Exercise #1 - Matrix Multiplication

In [2]:
# Write a Python function that takes two matrices as input and returns their product if the multiplication is possible.
# Otherwise, it should raise an exception indicating that the matrices cannot be multiplied. Test your function with various matrices.

matrix1 = [[1, 2, 3], [4, 5, 6]]

matrix2 = [[1, 2], [3, 4], [5, 6]]

In [3]:
df1 = pd.DataFrame(matrix1)
df2 = pd.DataFrame(matrix2)

In [4]:
df1

   0  1  2
0  1  2  3
1  4  5  6

In [5]:
df2

   0  1
0  1  2
1  3  4
2  5  6

In [7]:

# Write function to multiply two matrices
def matrix_mult(A, B):
    
    # Save the length of each matrix's rows and columns
    rows1, cols1 = len(A), len(A[0])
    rows2, cols2 = len(B), len(B[0])
    
    # Check if the matrices can be multiplied
    if cols1 != rows2:
        raise Exception("Cannot multiply the two matrices. Incorrect dimensions.")
    
    result = [[0 for _ in range(cols2)] for _ in range(rows1)]

    # Multiply each row of matrix1 by each column of matrix2
    for i in range(rows1):
        for j in range(cols2):
            for k in range(cols1):
                result[i][j] += A[i][k] * B[k][j]
    return result

In [9]:
try:
    product = matrix_mult(matrix1, matrix2)
    for row in product:
        print(row)
except Exception as e:
    print(e)

[22, 28]
[49, 64]

### Exercise #2

In [10]:
# Write a Python function that takes an integer n and returns a random n Ã— n matrix. 
# Each element should be randomly chosen to be 0 or 1. Test your function with various values of n.

def identity_matrix(n):
    return [[1 if j == i else 0 for j in range(n)] for i in range(n)]

In [11]:
identity_matrix(5)

[[1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1]]

In [12]:
I_5 = identity_matrix(5)

In [16]:
# Multiply the identity matrix of 5 by a random 5x5 matrix to test the theory behind the identity matrix

# Create a random 5x5 matrix
import random

five_by_five = [[random.randint(0, 1) for _ in range(5)] for _ in range(5)]

# Print the random 5x5 matrix
five_by_five

[[1, 1, 0, 1, 0],
 [1, 0, 1, 0, 0],
 [1, 0, 1, 1, 0],
 [0, 0, 0, 0, 1],
 [1, 0, 1, 1, 1]]

In [18]:
matrix_mult(I_5, five_by_five) == five_by_five

True

### Exercise #3: Scalar Multiplication

In [19]:
# Write a Python function that takes a matrix and a scalar as input and returns the result
# of multiplying the matrix by the scalar.

def matrix_mult_scalar(A, s):
    return [[A[i][j] * s for j in range(len(A[0]))] for i in range(len(A))]

In [20]:
df1

   0  1  2
0  1  2  3
1  4  5  6

In [23]:
len(matrix1[0])

3

In [24]:
len(matrix1)

2

In [21]:
matrix_mult_scalar(matrix1, 5)

[[5, 10, 15], [20, 25, 30]]